*{
	margin: 0px;
	padding:0px;
}
.container{
	width:1140px;
	margin:0px auto;
}
body{
	background: url(../image/bg.jpg)no-repeat;
	width: 100%;
	background-size: cover;
}
.admin-login{
		
}
.admin-pic{
	text-align: center;
		margin-top: 50px; 
}
.admin-pic img{
	height: 200px;
	width: 200px;
	border: 1px solid black;
	border-radius: 100px;
}
.admin-text{

}
.admin-text h1{
		text-align:center;
		color:black;
		font-size: 30px;
		padding: 10px 10px;
		margin: 20px 20px; 
}
.form-control {
   	width: 55%;
    background: white;
    border-style: none;
    border: 1px solid white;
    margin:5px 240px;
    height: 50px;
    padding-left: 20px;
    font-family: "Lato", sans-serif;
    color: black;
    border-radius: 20px;
    
}
.login-btn{
	padding: 10px 25px;
    color: white;
    border-radius: 100px;
    border: 1px solid white;
    font-size: 30px;
    margin: 20px 700px;
    transition: 0.4s ease-in-out;
   background-color:#581212;
}
.login-btn:hover{
	background: blue;
}


